  
  .parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 150px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .footer{
    grid-area: 9 / 9 / 3 / 9; 
    width:100%;
    height:50px;
    background-color: black;
  }
  
  /* Nav Bar */
  .div1 { 
    grid-area: 1 / 1 / 3 / 9; 
    
    /* justify-self: left; */
    /* color:white; */
    z-index:9;
    /* background-color: black; */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width:100%;
  }

  .nominees{
    position:fixed;
    /* background-color: black; */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width:100%;
    right:0;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }


    .nominees > div {
      position: relative;
      left:0;
      z-index: 9;
      border:3px solid white;
      border-radius: 20px;

      /* background: rgb(34,193,195);
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */

      padding-top:0.5%;
      padding-bottom:0.5%;
      padding-right:0.5%;
      padding-left:0.5%;

      width:fit-content;
      color:white;
      font-weight: bold;
      margin:0.5% 0.5% 0.5% 0.5%;
    }

  @keyframes slidein{
    0%{
      height:0;
    }

    100%{
      height:100px;
    }
  }

  .hiddenBanner{
    position: fixed;
    justify-self: left;
    animation: slidein 1s forwards;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  .hiddenLayer{
    display:none;
  }

  .lockingLayer{
    z-index: 1;
    position:fixed;
    height:100vh;
    width:100vw;
    opacity: 0.3;
    background-color: black;
  }


  /* Search Form Title */

  .div2 {
    grid-area: 2 / 2 / 3 / 8; 
  }

  /* Input */

    .div3 {
      grid-area: 4 / 2 / 5 / 6;
      width: 100%;
      justify-self: center;
    }
/* 
    .div3 > input{
      width:60%;
      height:30px;
    } */

    .searchBar{
      width:75%;
      height:4vh;
      border-radius: 10px;
      border:5px solid black;
    }

  /* Button */

  .div4 { 
    grid-area: 4 / 6 / 5 / 8; 
    /* align-self: center; */

    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
  }

    .div4 > button {
      width:50%;
      height:35px;
      border-radius: 5px;

    }

  .div5{
    grid-area: 5 / 1 / 6 / 9; 
    /* justify-self: left;
    text-align: left; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

    .div5 > button {
      height:30px;
    }

  /* Vote */
/* 
  .chat-popup{
    position: fixed;
    bottom: 1%;
    right: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    height:40%;
    width:20%;
    z-index: 9;
  } */

    .movieCard{
      flex-shrink:0;
      background-color:rgba(204, 0, 0, 0.981);
      /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
      border-radius: 5px;
      -webkit-box-shadow: -10px 0px 13px -7px #464646, 10px 0px 13px -7px #464646, 5px 5px 15px 5px rgba(0,0,0,0); 
      box-shadow: -10px 0px 13px -7px #464646, 10px 0px 13px -7px #464646, 5px 5px 15px 5px rgba(0,0,0,0);
      height:310px;
      width:300px;
      padding-bottom:5%;
      margin-left:20px;
      margin-right:20px;
      margin-bottom:3%;
    }

      .moviePoster{
          height:250px;
          width:300px;
          object-fit: cover;
          object-position:top;
        }

        .movieTitle {
          position: relative;
          text-align: center;
          color:aliceblue;
          font-weight: bolder;
        }
        
        .movieYear{
          position:relative;
          text-align: center;
          color:aliceblue;
          font-weight:normal;
        }

        .movieCard > button {
          margin-left: 3%;
          padding:3%;
          border-radius: 25px;
          border:white;
          color:white;
          border-style: solid;
          border-width: 2px;
          background-color: transparent;
          font-weight: bold;
        }

        @keyframes buttonAnimation {
          0%{
            transform: scale(1);
          }
          100%{
            transform:scale(1.1);
          }
        }

        .movieCard > button:hover{
          transform: scale(1.03);
          animation: buttonAnimation .03s forwards;
          /* background: rgb(238,174,202);
          background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

        }

        .movieCard > button:disabled{
          border-radius: 25px;
          border:gray;
          color:gray;
          border-style: solid;
          border-width: 2px;
          background-color: transparent !important;
        }

        .movieCard > button:disabled > :hover{
          border-radius: 25px;
          border:gray;
          color:gray;
          border-style: solid;
          border-width: 2px;
          background-color: transparent !important;
        }